/* .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color:white;
    z-index: 1;
}
.product>img{
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product>button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

}
.product__price{
    margin-top: 5px;
}
.product__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100px;
    margin-bottom: 15px;
}
.product__rating {
    display: flex;
} */

.rating{
    display: flex;
   
  }
  .basket>button{
    background: #6faeea;
    border: 1px solid;
    margin-top: 10px;
    border-color: #0c12ff #4700f5 #0f056f;
    color: #111;}
  .col{
    display: flex;
    
  }
  .basket{
    display: flex;
    justify-content: space-between;
  }
  .card {
      margin: 10px;
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
      transition: transform 100ms ease-in;
      cursor: pointer;
    }
  
    
    .card:hover {
      transform: scale(1.07);
    }
    
    .card > img {
      object-fit: fill;
      min-width: 300px;
      min-height: 200px;
      width: 100%;
    }
    .card>p{
      display: flex;
      font-size: 7px;
    }
    .header__option{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
  }
  .header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
  }
  .header__optionLineOne{
    font-size: 10px;
  
  }
  .header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
  }
    
    .card__info {
        margin-top: -9px;
        border-radius: 10px;
        padding: 20px;
        padding-top: 20px;
        border: 1;
      }
    
      .card__info > h2 {
        font-size: 18px;
        font-weight: 600;
      }
      
      .card__info > h4 {
        font-size: 14px;
        font-weight: 300;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .home__section {
          display: flex;
          padding: 1px;
        
    width: 1349px;
          justify-content: space-between;
        }
        @media (max-width: 765px){
          .rating{
            display: flex;
            font-size: 4px;
          }
          .basket{
            display: flex;
            justify-content: space-between;
          }
          .basket>button{
            background: #6faeea;
            border: 1px solid;
            margin-top: 2px;
            border-color: #0c12ff #4700f5 #0f056f;
            color: #111;}
          .home__section {
            display: block;
            padding: 4px;
          
           width: 100%;
            /* justify-content: space-between; */
          }
          .card {
            margin: 10px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
            transition: transform 100ms ease-in;
            cursor: pointer;
          }
          .card > img {
            object-fit: fill;
            min-width: 50px;
            min-height: 50px;
            width: 100%;
          }
          .card__info {
            align-items: center;
            margin-top: -3px;
            border-radius: 10px;
            padding: 10px;
            padding-top: 5px;
            border: 1;
          }
        
          .card__info > h2 {
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 1px;
          }
          
          .card__info > h4 {
            font-size: 10px;
            font-weight: 200;
            margin-top: 1px;
            margin-bottom: 1px;
          }
          .basket> h3 {
            font-size: 14px;
            font-weight: 150;
            margin-top: 2px;
            margin-bottom: 2px;
          }
  
        }
        @media (max-width: 480px){
          .basket>button{
            background: #6faeea;
            border: 1px solid;
            margin-top: 2px;
            border-color: #0c12ff #4700f5 #0f056f;
            color: #111;}
            .rating{
                display: flex;
                font-size: 4px;
              }
          .home__section {
            display: block;
            padding: 4px;
          
           width: 97%;
            
          }
          .card {
            margin: 10px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
            transition: transform 100ms ease-in;
            cursor: pointer;
          }
          .card > img {
            object-fit: fill;
            min-width: 50px;
            min-height: 50px;
            width: 100%;
          }
          .card__info {
            align-items: center;
            margin-top: -3px;
            border-radius: 10px;
            padding: 10px;
            padding-top: 5px;
            border: 1;
          }
        
          .card__info > h2 {
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 1px;
          }
          
          .card__info > h4 {
            font-size: 9px;
            font-weight: 200;
            margin-top: 1px;
            margin-bottom: 1px;
          }
          .basket> h3 {
            font-size: 16px;
            font-weight: 150;
            margin-top: 2px;
            margin-bottom: 2px;
          }
  
        }